# ==========================================
# DEPENDENCIES: STREAMLIT DEPLOYMENT ONLY
# ==========================================
streamlit
qdrant-client
sentence-transformers
torch
numpy
openai
google-genai
groq
python-dotenv
